/* style à écrire */

.corps{
	margin-top: 60px;
}

.form-signin {
  width: 460%;
  max-width: 560px;

  padding: 15px;
  margin: 0 auto;
}
.form-signin-2 {
  width: auto;
  padding: 15px;
  margin: 0 auto;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.frame {
    height: 300px;      /* equals max image height */
    width: 300px;
    margin : auto;
    text-align: center; margin: 1em 0;
    display: table-cell;
    vertical-align: middle;
    background: #F5F5F5;
}

.img-cent {
    margin-bottom: 10px;
}